*.db

# Statistic folder to drop exported reports
# Keep the folder for the README but ignore everything else
/statistics/*
!/statistics/README.txt
target

# misc. IDE config files
.project
.settings/
.classpath
*.iml
.idea/
.externalToolBuilders
.metadata
.recommenders
.vscode
.factorypath