@font-face {
    font-family: "arsenal";
    src: url('arsenal-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: "arsenal";
    src: url('arsenal-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "arsenal";
    src: url('arsenal-italic-webfont.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: "arsenal";
    src: url('arsenal-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}